In [1]:
import pandas as pd
import numpy as np

In [2]:
allstocks5yr = pd.read_csv("../input/stock-prices-5y/all_stocks_5yr.csv")

In [3]:
allstocks5yr.head()

         date   open   high    low  close    volume Name
0  2013-02-08  15.07  15.12  14.63  14.75   8407500  AAL
1  2013-02-11  14.89  15.01  14.26  14.46   8882000  AAL
2  2013-02-12  14.45  14.51  14.10  14.27   8126000  AAL
3  2013-02-13  14.30  14.94  14.25  14.66  10259500  AAL
4  2013-02-14  14.94  14.96  13.16  13.99  31879900  AAL

In [4]:
allstocks5yr['date'][0][0:7]

'2013-02'

In [5]:
yearMonth = [month[0:7] for month in allstocks5yr['date']] #extracr all the year and month from the data

In [6]:
yearMonth

['2013-02',
 '2013-02',
 '2013-02',
 '2013-02',
 '2013-02',
 '2013-02',
 '2013-02',
 '2013-02',
 '2013-02',
 '2013-02',
 '2013-02',
 '2013-02',
 '2013-02',
 '2013-02',
 '2013-03',
 '2013-03',
 '2013-03',
 '2013-03',
 '2013-03',
 '2013-03',
 '2013-03',
 '2013-03',
 '2013-03',
 '2013-03',
 '2013-03',
 '2013-03',
 '2013-03',
 '2013-03',
 '2013-03',
 '2013-03',
 '2013-03',
 '2013-03',
 '2013-03',
 '2013-03',
 '2013-04',
 '2013-04',
 '2013-04',
 '2013-04',
 '2013-04',
 '2013-04',
 '2013-04',
 '2013-04',
 '2013-04',
 '2013-04',
 '2013-04',
 '2013-04',
 '2013-04',
 '2013-04',
 '2013-04',
 '2013-04',
 '2013-04',
 '2013-04',
 '2013-04',
 '2013-04',
 '2013-04',
 '2013-04',
 '2013-05',
 '2013-05',
 '2013-05',
 '2013-05',
 '2013-05',
 '2013-05',
 '2013-05',
 '2013-05',
 '2013-05',
 '2013-05',
 '2013-05',
 '2013-05',
 '2013-05',
 '2013-05',
 '2013-05',
 '2013-05',
 '2013-05',
 '2013-05',
 '2013-05',
 '2013-05',
 '2013-05',
 '2013-05',
 '2013-06',
 '2013-06',
 '2013-06',
 '2013-06',
 '2013-06',
 '2013-06',
 '2013-06',
 '2013-06',
 '2013-06',
 '2013-06',
 '2013-06',
 '2013-06',
 '2013-06',
 '2013-06',
 '2013-06',
 '2013-06',
 '2013-06',
 '2013-06',
 '2013-06',
 '2013-06',
 '2013-07',
 '2013-07',
 '2013-07',
 '2013-07',
 '2013-07',
 '2013-07',
 '2013-07',
 '2013-07',
 '2013-07',
 '2013-07',
 '2013-07',
 '2013-07',
 '2013-07',
 '2013-07',
 '2013-07',
 '2013-07',
 '2013-07',
 '2013-07',
 '2013-07',
 '2013-07',
 '2013-07',
 '2013-07',
 '2013-08',
 '2013-08',
 '2013-08',
 '2013-08',
 '2013-08',
 '2013-08',
 '2013-08',
 '2013-08',
 '2013-08',
 '2013-08',
 '2013-08',
 '2013-08',
 '2013-08',
 '2013-08',
 '2013-08',
 '2013-08',
 '2013-08',
 '2013-08',
 '2013-08',
 '2013-08',
 '2013-08',
 '2013-08',
 '2013-09',
 '2013-09',
 '2013-09',
 '2013-09',
 '2013-09',
 '2013-09',
 '2013-09',
 '2013-09',
 '2013-09',
 '2013-09',
 '2013-09',
 '2013-09',
 '2013-09',
 '2013-09',
 '2013-09',
 '2013-09',
 '2013-09',
 '2013-09',
 '2013-09',
 '2013-09',
 '2013-10',
 '2013-10',
 '2013-10',
 '2013-10',
 '2013-10',
 '2013-10',
 '2013-10',
 '2013-10',
 '2013-10',
 '2013-10',
 '2013-10',
 '2013-10',
 '2013-10',
 '2013-10',
 '2013-10',
 '2013-10',
 '2013-10',
 '2013-10',
 '2013-10',
 '2013-10',
 '2013-10',
 '2013-10',
 '2013-10',
 '2013-11',
 '2013-11',
 '2013-11',
 '2013-11',
 '2013-11',
 '2013-11',
 '2013-11',
 '2013-11',
 '2013-11',
 '2013-11',
 '2013-11',
 '2013-11',
 '2013-11',
 '2013-11',
 '2013-11',
 '2013-11',
 '2013-11',
 '2013-11',
 '2013-11',
 '2013-11',
 '2013-12',
 '2013-12',
 '2013-12',
 '2013-12',
 '2013-12',
 '2013-12',
 '2013-12',
 '2013-12',
 '2013-12',
 '2013-12',
 '2013-12',
 '2013-12',
 '2013-12',
 '2013-12',
 '2013-12',
 '2013-12',
 '2013-12',
 '2013-12',
 '2013-12',
 '2013-12',
 '2013-12',
 '2014-01',
 '2014-01',
 '2014-01',
 '2014-01',
 '2014-01',
 '2014-01',
 '2014-01',
 '2014-01',
 '2014-01',
 '2014-01',
 '2014-01',
 '2014-01',
 '2014-01',
 '2014-01',
 '2014-01',
 '2014-01',
 '2014-01',
 '2014-01',
 '2014-01',
 '2014-01',
 '2014-01',
 '2014-02',
 '2014-02',
 '2014-02',
 '2014-02',
 '2014-02',
 '2014-02',
 '2014-02',
 '2014-02',
 '2014-02',
 '2014-02',
 '2014-02',
 '2014-02',
 '2014-02',
 '2014-02',
 '2014-02',
 '2014-02',
 '2014-02',
 '2014-02',
 '2014-02',
 '2014-03',
 '2014-03',
 '2014-03',
 '2014-03',
 '2014-03',
 '2014-03',
 '2014-03',
 '2014-03',
 '2014-03',
 '2014-03',
 '2014-03',
 '2014-03',
 '2014-03',
 '2014-03',
 '2014-03',
 '2014-03',
 '2014-03',
 '2014-03',
 '2014-03',
 '2014-03',
 '2014-03',
 '2014-04',
 '2014-04',
 '2014-04',
 '2014-04',
 '2014-04',
 '2014-04',
 '2014-04',
 '2014-04',
 '2014-04',
 '2014-04',
 '2014-04',
 '2014-04',
 '2014-04',
 '2014-04',
 '2014-04',
 '2014-04',
 '2014-04',
 '2014-04',
 '2014-04',
 '2014-04',
 '2014-04',
 '2014-05',
 '2014-05',
 '2014-05',
 '2014-05',
 '2014-05',
 '2014-05',
 '2014-05',
 '2014-05',
 '2014-05',
 '2014-05',
 '2014-05',
 '2014-05',
 '2014-05',
 '2014-05',
 '2014-05',
 '2014-05',
 '2014-05',
 '2014-05',
 '2014-05',
 '2014-05',
 '2014-05',
 '2014-06',
 '2014-06',
 '2014-06',
 '2014-06',
 '2014-06',
 '2014-06',
 '2014-06',
 '2014-06',
 '2014-06',
 '2014-06',
 '2014-06',
 '2014-06',
 '2014-06',
 '2014-06',
 '2014-06',
 '2014-06',
 '2014-06',
 '2014-06',
 '2014-06',
 '2014-06',
 '2014-06',
 '2014-07',
 '2014-07',
 '2014-07',
 '2014-07',
 '2014-07',
 '2014-07',
 '2014-07',
 '2014-07',
 '2014-07',
 '2014-07',
 '2014-07',
 '2014-07',
 '2014-07',
 '2014-07',
 '2014-07',
 '2014-07',
 '2014-07',
 '2014-07',
 '2014-07',
 '2014-07',
 '2014-07',
 '2014-07',
 '2014-08',
 '2014-08',
 '2014-08',
 '2014-08',
 '2014-08',
 '2014-08',
 '2014-08',
 '2014-08',
 '2014-08',
 '2014-08',
 '2014-08',
 '2014-08',
 '2014-08',
 '2014-08',
 '2014-08',
 '2014-08',
 '2014-08',
 '2014-08',
 '2014-08',
 '2014-08',
 '2014-08',
 '2014-09',
 '2014-09',
 '2014-09',
 '2014-09',
 '2014-09',
 '2014-09',
 '2014-09',
 '2014-09',
 '2014-09',
 '2014-09',
 '2014-09',
 '2014-09',
 '2014-09',
 '2014-09',
 '2014-09',
 '2014-09',
 '2014-09',
 '2014-09',
 '2014-09',
 '2014-09',
 '2014-09',
 '2014-10',
 '2014-10',
 '2014-10',
 '2014-10',
 '2014-10',
 '2014-10',
 '2014-10',
 '2014-10',
 '2014-10',
 '2014-10',
 '2014-10',
 '2014-10',
 '2014-10',
 '2014-10',
 '2014-10',
 '2014-10',
 '2014-10',
 '2014-10',
 '2014-10',
 '2014-10',
 '2014-10',
 '2014-10',
 '2014-10',
 '2014-11',
 '2014-11',
 '2014-11',
 '2014-11',
 '2014-11',
 '2014-11',
 '2014-11',
 '2014-11',
 '2014-11',
 '2014-11',
 '2014-11',
 '2014-11',
 '2014-11',
 '2014-11',
 '2014-11',
 '2014-11',
 '2014-11',
 '2014-11',
 '2014-11',
 '2014-12',
 '2014-12',
 '2014-12',
 '2014-12',
 '2014-12',
 '2014-12',
 '2014-12',
 '2014-12',
 '2014-12',
 '2014-12',
 '2014-12',
 '2014-12',
 '2014-12',
 '2014-12',
 '2014-12',
 '2014-12',
 '2014-12',
 '2014-12',
 '2014-12',
 '2014-12',
 '2014-12',
 '2014-12',
 '2015-01',
 '2015-01',
 '2015-01',
 '2015-01',
 '2015-01',
 '2015-01',
 '2015-01',
 '2015-01',
 '2015-01',
 '2015-01',
 '2015-01',
 '2015-01',
 '2015-01',
 '2015-01',
 '2015-01',
 '2015-01',
 '2015-01',
 '2015-01',
 '2015-01',
 '2015-01',
 '2015-02',
 '2015-02',
 '2015-02',
 '2015-02',
 '2015-02',
 '2015-02',
 '2015-02',
 '2015-02',
 '2015-02',
 '2015-02',
 '2015-02',
 '2015-02',
 '2015-02',
 '2015-02',
 '2015-02',
 '2015-02',
 '2015-02',
 '2015-02',
 '2015-02',
 '2015-03',
 '2015-03',
 '2015-03',
 '2015-03',
 '2015-03',
 '2015-03',
 '2015-03',
 '2015-03',
 '2015-03',
 '2015-03',
 '2015-03',
 '2015-03',
 '2015-03',
 '2015-03',
 '2015-03',
 '2015-03',
 '2015-03',
 '2015-03',
 '2015-03',
 '2015-03',
 '2015-03',
 '2015-03',
 '2015-04',
 '2015-04',
 '2015-04',
 '2015-04',
 '2015-04',
 '2015-04',
 '2015-04',
 '2015-04',
 '2015-04',
 '2015-04',
 '2015-04',
 '2015-04',
 '2015-04',
 '2015-04',
 '2015-04',
 '2015-04',
 '2015-04',
 '2015-04',
 '2015-04',
 '2015-04',
 '2015-04',
 '2015-05',
 '2015-05',
 '2015-05',
 '2015-05',
 '2015-05',
 '2015-05',
 '2015-05',
 '2015-05',
 '2015-05',
 '2015-05',
 '2015-05',
 '2015-05',
 '2015-05',
 '2015-05',
 '2015-05',
 '2015-05',
 '2015-05',
 '2015-05',
 '2015-05',
 '2015-05',
 '2015-06',
 '2015-06',
 '2015-06',
 '2015-06',
 '2015-06',
 '2015-06',
 '2015-06',
 '2015-06',
 '2015-06',
 '2015-06',
 '2015-06',
 '2015-06',
 '2015-06',
 '2015-06',
 '2015-06',
 '2015-06',
 '2015-06',
 '2015-06',
 '2015-06',
 '2015-06',
 '2015-06',
 '2015-06',
 '2015-07',
 '2015-07',
 '2015-07',
 '2015-07',
 '2015-07',
 '2015-07',
 '2015-07',
 '2015-07',
 '2015-07',
 '2015-07',
 '2015-07',
 '2015-07',
 '2015-07',
 '2015-07',
 '2015-07',
 '2015-07',
 '2015-07',
 '2015-07',
 '2015-07',
 '2015-07',
 '2015-07',
 '2015-07',
 '2015-08',
 '2015-08',
 '2015-08',
 '2015-08',
 '2015-08',
 '2015-08',
 '2015-08',
 '2015-08',
 '2015-08',
 '2015-08',
 '2015-08',
 '2015-08',
 '2015-08',
 '2015-08',
 '2015-08',
 '2015-08',
 '2015-08',
 '2015-08',
 '2015-08',
 '2015-08',
 '2015-08',
 '2015-09',
 '2015-09',
 '2015-09',
 '2015-09',
 '2015-09',
 '2015-09',
 '2015-09',
 '2015-09',
 '2015-09',
 '2015-09',
 '2015-09',
 '2015-09',
 '2015-09',
 '2015-09',
 '2015-09',
 '2015-09',
 '2015-09',
 '2015-09',
 '2015-09',
 '2015-09',
 '2015-09',
 '2015-10',
 '2015-10',
 '2015-10',
 '2015-10',
 '2015-10',
 '2015-10',
 '2015-10',
 '2015-10',
 '2015-10',
 '2015-10',
 '2015-10',
 '2015-10',
 '2015-10',
 '2015-10',
 '2015-10',
 '2015-10',
 '2015-10',
 '2015-10',
 '2015-10',
 '2015-10',
 '2015-10',
 '2015-10',
 '2015-11',
 '2015-11',
 '2015-11',
 '2015-11',
 '2015-11',
 '2015-11',
 '2015-11',
 '2015-11',
 '2015-11',
 '2015-11',
 '2015-11',
 '2015-11',
 '2015-11',
 '2015-11',
 '2015-11',
 '2015-11',
 '2015-11',
 '2015-11',
 '2015-11',
 '2015-11',
 '2015-12',
 '2015-12',
 '2015-12',
 '2015-12',
 '2015-12',
 '2015-12',
 '2015-12',
 '2015-12',
 '2015-12',
 '2015-12',
 '2015-12',
 '2015-12',
 '2015-12',
 '2015-12',
 '2015-12',
 '2015-12',
 '2015-12',
 '2015-12',
 '2015-12',
 '2015-12',
 '2015-12',
 '2015-12',
 '2016-01',
 '2016-01',
 '2016-01',
 '2016-01',
 '2016-01',
 '2016-01',
 '2016-01',
 '2016-01',
 '2016-01',
 '2016-01',
 '2016-01',
 '2016-01',
 '2016-01',
 '2016-01',
 '2016-01',
 '2016-01',
 '2016-01',
 '2016-01',
 '2016-01',
 '2016-02',
 '2016-02',
 '2016-02',
 '2016-02',
 '2016-02',
 '2016-02',
 '2016-02',
 '2016-02',
 '2016-02',
 '2016-02',
 '2016-02',
 '2016-02',
 '2016-02',
 '2016-02',
 '2016-02',
 '2016-02',
 '2016-02',
 '2016-02',
 '2016-02',
 '2016-02',
 '2016-03',
 '2016-03',
 '2016-03',
 '2016-03',
 '2016-03',
 '2016-03',
 '2016-03',
 '2016-03',
 '2016-03',
 '2016-03',
 '2016-03',
 '2016-03',
 '2016-03',
 '2016-03',
 '2016-03',
 '2016-03',
 '2016-03',
 '2016-03',
 '2016-03',
 '2016-03',
 '2016-03',
 '2016-03',
 '2016-04',
 '2016-04',
 '2016-04',
 '2016-04',
 '2016-04',
 '2016-04',
 '2016-04',
 '2016-04',
 '2016-04',
 '2016-04',
 '2016-04',
 '2016-04',
 '2016-04',
 '2016-04',
 '2016-04',
 '2016-04',
 '2016-04',
 '2016-04',
 '2016-04',
 '2016-04',
 '2016-04',
 '2016-05',
 '2016-05',
 '2016-05',
 '2016-05',
 '2016-05',
 '2016-05',
 '2016-05',
 '2016-05',
 '2016-05',
 '2016-05',
 '2016-05',
 '2016-05',
 '2016-05',
 '2016-05',
 '2016-05',
 '2016-05',
 '2016-05',
 '2016-05',
 '2016-05',
 '2016-05',
 '2016-05',
 '2016-06',
 '2016-06',
 '2016-06',
 '2016-06',
 '2016-06',
 '2016-06',
 '2016-06',
 '2016-06',
 '2016-06',
 '2016-06',
 '2016-06',
 '2016-06',
 '2016-06',
 '2016-06',
 '2016-06',
 '2016-06',
 '2016-06',
 '2016-06',
 '2016-06',
 '2016-06',
 '2016-06',
 '2016-06',
 '2016-07',
 '2016-07',
 '2016-07',
 '2016-07',
 '2016-07',
 '2016-07',
 '2016-07',
 '2016-07',
 '2016-07',
 '2016-07',
 '2016-07',
 '2016-07',
 '2016-07',
 '2016-07',
 '2016-07',
 '2016-07',
 '2016-07',
 '2016-07',
 '2016-07',
 '2016-07',
 '2016-08',
 '2016-08',
 '2016-08',
 '2016-08',
 '2016-08',
 '2016-08',
 '2016-08',
 '2016-08',
 '2016-08',
 '2016-08',
 '2016-08',
 '2016-08',
 '2016-08',
 '2016-08',
 '2016-08',
 '2016-08',
 '2016-08',
 '2016-08',
 '2016-08',
 '2016-08',
 '2016-08',
 '2016-08',
 '2016-08',
 '2016-09',
 '2016-09',
 '2016-09',
 '2016-09',
 '2016-09',
 '2016-09',
 '2016-09',
 '2016-09',
 '2016-09',
 '2016-09',
 '2016-09',
 '2016-09',
 '2016-09',
 '2016-09',
 '2016-09',
 '2016-09',
 '2016-09',
 '2016-09',
 '2016-09',
 '2016-09',
 '2016-09',
 '2016-10',
 '2016-10',
 '2016-10',
 '2016-10',
 '2016-10',
 '2016-10',
 '2016-10',
 '2016-10',
 '2016-10',
 '2016-10',
 '2016-10',
 '2016-10',
 '2016-10',
 '2016-10',
 '2016-10',
 '2016-10',
 '2016-10',
 '2016-10',
 '2016-10',
 '2016-10',
 '2016-10',
 '2016-11',
 '2016-11',
 '2016-11',
 '2016-11',
 '2016-11',
 '2016-11',
 '2016-11',
 '2016-11',
 '2016-11',
 '2016-11',
 '2016-11',
 '2016-11',
 '2016-11',
 '2016-11',
 '2016-11',
 '2016-11',
 '2016-11',
 '2016-11',
 '2016-11',
 '2016-11',
 '2016-11',
 '2016-12',
 '2016-12',
 '2016-12',
 '2016-12',
 '2016-12',
 '2016-12',
 '2016-12',
 '2016-12',
 '2016-12',
 '2016-12',
 '2016-12',
 '2016-12',
 '2016-12',
 '2016-12',
 '2016-12',
 '2016-12',
 '2016-12',
 '2016-12',
 '2016-12',
 '2016-12',
 '2016-12',
 '2017-01',
 '2017-01',
 '2017-01',
 '2017-01',
 '2017-01',
 '2017-01',
 '2017-01',
 '2017-01',
 '2017-01',
 '2017-01',
 '2017-01',
 '2017-01',
 '2017-01',
 '2017-01',
 '2017-01',
 '2017-01',
 '2017-01',
 '2017-01',
 ...]

In [7]:
allstocks5yr.groupby(yearMonth).nth(0) #group by the data by month

               date   open   high    low  close   volume Name
2013-02  2013-02-08  15.07  15.12  14.63  14.75  8407500  AAL
2013-03  2013-03-01  13.37  13.95  13.32  13.61  7376800  AAL
2013-04  2013-04-01  17.02  17.13  16.54  16.67  5222300  AAL
2013-05  2013-05-01  16.91  17.17  16.60  16.60  4943600  AAL
2013-06  2013-06-03  17.54  17.90  17.40  17.73  5776800  AAL
...             ...    ...    ...    ...    ...      ...  ...
2017-10  2017-10-02  47.52  47.93  47.22  47.73  4911650  AAL
2017-11  2017-11-01  48.00  48.20  47.37  47.84  4354521  AAL
2017-12  2017-12-01  49.67  50.38  48.69  49.00  6229631  AAL
2018-01  2018-01-02  52.33  53.10  51.90  52.99  4084712  AAL
2018-02  2018-02-01  54.00  54.64  53.59  53.88  3623078  AAL

[61 rows x 7 columns]

In [8]:
#To group by the data by company name AAL, extract the data for company AAL only 
#Use Boolean lIST
booleanList = allstocks5yr['Name'] =='AAL'
AAL = allstocks5yr[booleanList]

In [9]:
AAL

            date   open   high    low  close    volume Name
0     2013-02-08  15.07  15.12  14.63  14.75   8407500  AAL
1     2013-02-11  14.89  15.01  14.26  14.46   8882000  AAL
2     2013-02-12  14.45  14.51  14.10  14.27   8126000  AAL
3     2013-02-13  14.30  14.94  14.25  14.66  10259500  AAL
4     2013-02-14  14.94  14.96  13.16  13.99  31879900  AAL
...          ...    ...    ...    ...    ...       ...  ...
1254  2018-02-01  54.00  54.64  53.59  53.88   3623078  AAL
1255  2018-02-02  53.49  53.99  52.03  52.10   5109361  AAL
1256  2018-02-05  51.99  52.39  49.75  49.76   6878284  AAL
1257  2018-02-06  49.32  51.50  48.79  51.18   6782480  AAL
1258  2018-02-07  50.91  51.98  50.89  51.40   4845831  AAL

[1259 rows x 7 columns]

In [10]:
# Groupby the AAL data by month
monthAAL = [ month[0:7] for month in AAL['date'] ]

In [11]:
AAL.groupby(monthAAL).nth(0)

               date   open   high    low  close   volume Name
2013-02  2013-02-08  15.07  15.12  14.63  14.75  8407500  AAL
2013-03  2013-03-01  13.37  13.95  13.32  13.61  7376800  AAL
2013-04  2013-04-01  17.02  17.13  16.54  16.67  5222300  AAL
2013-05  2013-05-01  16.91  17.17  16.60  16.60  4943600  AAL
2013-06  2013-06-03  17.54  17.90  17.40  17.73  5776800  AAL
...             ...    ...    ...    ...    ...      ...  ...
2017-10  2017-10-02  47.52  47.93  47.22  47.73  4911650  AAL
2017-11  2017-11-01  48.00  48.20  47.37  47.84  4354521  AAL
2017-12  2017-12-01  49.67  50.38  48.69  49.00  6229631  AAL
2018-01  2018-01-02  52.33  53.10  51.90  52.99  4084712  AAL
2018-02  2018-02-01  54.00  54.64  53.59  53.88  3623078  AAL

[61 rows x 7 columns]

In [12]:
# How to groupby both the company name and the monthly date in one function 
#Two ways to do this : one is to create a new column "Monthly", another is to make the monthly data as the list index
# first, we create a column in data frame allstocks5yr['monthly']
allstocks5yr["monthly"] = [x[0:7] for x in allstocks5yr['date']]

In [13]:
#check the df again to see the column 
allstocks5yr.head()

         date   open   high    low  close    volume Name  monthly
0  2013-02-08  15.07  15.12  14.63  14.75   8407500  AAL  2013-02
1  2013-02-11  14.89  15.01  14.26  14.46   8882000  AAL  2013-02
2  2013-02-12  14.45  14.51  14.10  14.27   8126000  AAL  2013-02
3  2013-02-13  14.30  14.94  14.25  14.66  10259500  AAL  2013-02
4  2013-02-14  14.94  14.96  13.16  13.99  31879900  AAL  2013-02

In [14]:
#Groupby the data by name first then apply the lambda function to the monthly data 
dfallstocks5yr = allstocks5yr.groupby(['Name','monthly']).nth(0)

In [15]:
dfallstocks5yr

                    date   open     high     low  close   volume
Name monthly
A    2013-02  2013-02-08  45.07  45.3500  45.000  45.08  1824755
     2013-03  2013-03-01  41.18  41.9800  40.730  41.93  3089323
     2013-04  2013-04-01  41.83  41.9771  40.790  40.93  2541331
     2013-05  2013-05-01  41.42  41.7400  41.260  41.31  2726213
     2013-06  2013-06-03  45.65  45.8400  45.040  45.51  3677473
...                  ...    ...      ...     ...    ...      ...
ZTS  2017-10  2017-10-02  63.84  64.3900  63.690  63.75  1838530
     2017-11  2017-11-01  64.20  65.0850  64.020  64.51  3065957
     2017-12  2017-12-01  72.22  72.3500  71.275  72.30  1932240
     2018-01  2018-01-02  72.54  72.5900  71.465  71.77  2135564
     2018-02  2018-02-01  76.84  78.2700  76.690  77.82  2982259

[30012 rows x 6 columns]

In [16]:
#To find the monthly return, use the close price and divide by the close prie of the month before minus 1 
dfallstocks5yr['return' ]= dfallstocks5yr['close'].shift(1)/dfallstocks5yr['close'] -1

In [17]:
# Volume Change
dfallstocks5yr['volume_Change'] = dfallstocks5yr['volume'].shift(1)/dfallstocks5yr['volume']-1

In [18]:
###
class pipeline:

    def process(self,df):
        df["monthly"] = [x[0:7] for x in df['date']]
        dfallstocks5yr = df.groupby(['Name','monthly']).nth(0)
        return dfallstocks5yr
    def add_feature(self,df):
        df['return' ]= df['close'].shift(1)/df['close'] -1
        df['volume_Change'] = df['volume'].shift(1)/df['volume']-1
        return df
    def __init__(self,df):
        df = self.process(df)
        df = self.add_feature(df)
        self.dfprocessed = df

In [19]:
pipelined = pipeline(allstocks5yr)

In [20]:
pipelined.dfprocessed

                    date   open     high     low  close   volume    return  \
Name monthly
A    2013-02  2013-02-08  45.07  45.3500  45.000  45.08  1824755       NaN
     2013-03  2013-03-01  41.18  41.9800  40.730  41.93  3089323  0.075125
     2013-04  2013-04-01  41.83  41.9771  40.790  40.93  2541331  0.024432
     2013-05  2013-05-01  41.42  41.7400  41.260  41.31  2726213 -0.009199
     2013-06  2013-06-03  45.65  45.8400  45.040  45.51  3677473 -0.092287
...                  ...    ...      ...     ...    ...      ...       ...
ZTS  2017-10  2017-10-02  63.84  64.3900  63.690  63.75  1838530 -0.013804
     2017-11  2017-11-01  64.20  65.0850  64.020  64.51  3065957 -0.011781
     2017-12  2017-12-01  72.22  72.3500  71.275  72.30  1932240 -0.107746
     2018-01  2018-01-02  72.54  72.5900  71.465  71.77  2135564  0.007385
     2018-02  2018-02-01  76.84  78.2700  76.690  77.82  2982259 -0.077744

              volume_Change
Name monthly
A    2013-02            NaN
     2013-03      -0.409335
     2013-04       0.215632
     2013-05      -0.067816
     2013-06      -0.258672
...                     ...
ZTS  2017-10      -0.234425
     2017-11      -0.400341
     2017-12       0.586737
     2018-01      -0.095209
     2018-02      -0.283911

[30012 rows x 8 columns]