In [1]:
import pandas as pd
import numpy as np

In [2]:
! pwd

/Users/zishuoli/Documents/projects/Finance Recommendation /stock recommendation project/notebook

In [3]:
allstocks5yr = pd.read_csv("../data/all_stocks_5yr.csv")

In [4]:
allstocks5yr.head()

         date   open   high    low  close    volume Name
0  2013-02-08  15.07  15.12  14.63  14.75   8407500  AAL
1  2013-02-11  14.89  15.01  14.26  14.46   8882000  AAL
2  2013-02-12  14.45  14.51  14.10  14.27   8126000  AAL
3  2013-02-13  14.30  14.94  14.25  14.66  10259500  AAL
4  2013-02-14  14.94  14.96  13.16  13.99  31879900  AAL

In [5]:
allstocks5yr['date'][0][0:7]

'2013-02'

In [6]:
yearMonth = [month[0:7] for month in allstocks5yr['date']] #extracr all the year and month from the data

In [7]:
yearMonth

['2013-02',
 '2013-02',
 '2013-02',
 '2013-02',
 '2013-02',
 '2013-02',
 '2013-02',
 '2013-02',
 '2013-02',
 '2013-02',
 '2013-02',
 '2013-02',
 '2013-02',
 '2013-02',
 '2013-03',
 '2013-03',
 '2013-03',
 '2013-03',
 '2013-03',
 '2013-03',
 '2013-03',
 '2013-03',
 '2013-03',
 '2013-03',
 '2013-03',
 '2013-03',
 '2013-03',
 '2013-03',
 '2013-03',
 '2013-03',
 '2013-03',
 '2013-03',
 '2013-03',
 '2013-03',
 '2013-04',
 '2013-04',
 '2013-04',
 '2013-04',
 '2013-04',
 '2013-04',
 '2013-04',
 '2013-04',
 '2013-04',
 '2013-04',
 '2013-04',
 '2013-04',
 '2013-04',
 '2013-04',
 '2013-04',
 '2013-04',
 '2013-04',
 '2013-04',
 '2013-04',
 '2013-04',
 '2013-04',
 '2013-04',
 '2013-05',
 '2013-05',
 '2013-05',
 '2013-05',
 '2013-05',
 '2013-05',
 '2013-05',
 '2013-05',
 '2013-05',
 '2013-05',
 '2013-05',
 '2013-05',
 '2013-05',
 '2013-05',
 '2013-05',
 '2013-05',
 '2013-05',
 '2013-05',
 '2013-05',
 '2013-05',
 '2013-05',
 '2013-05',
 '2013-06',
 '2013-06',
 '2013-06',
 '2013-06',
 '2013-06',
 '2013-06',
 '2013-06',
 '2013-06',
 '2013-06',
 '2013-06',
 '2013-06',
 '2013-06',
 '2013-06',
 '2013-06',
 '2013-06',
 '2013-06',
 '2013-06',
 '2013-06',
 '2013-06',
 '2013-06',
 '2013-07',
 '2013-07',
 '2013-07',
 '2013-07',
 '2013-07',
 '2013-07',
 '2013-07',
 '2013-07',
 '2013-07',
 '2013-07',
 '2013-07',
 '2013-07',
 '2013-07',
 '2013-07',
 '2013-07',
 '2013-07',
 '2013-07',
 '2013-07',
 '2013-07',
 '2013-07',
 '2013-07',
 '2013-07',
 '2013-08',
 '2013-08',
 '2013-08',
 '2013-08',
 '2013-08',
 '2013-08',
 '2013-08',
 '2013-08',
 '2013-08',
 '2013-08',
 '2013-08',
 '2013-08',
 '2013-08',
 '2013-08',
 '2013-08',
 '2013-08',
 '2013-08',
 '2013-08',
 '2013-08',
 '2013-08',
 '2013-08',
 '2013-08',
 '2013-09',
 '2013-09',
 '2013-09',
 '2013-09',
 '2013-09',
 '2013-09',
 '2013-09',
 '2013-09',
 '2013-09',
 '2013-09',
 '2013-09',
 '2013-09',
 '2013-09',
 '2013-09',
 '2013-09',
 '2013-09',
 '2013-09',
 '2013-09',
 '2013-09',
 '2013-09',
 '2013-10',
 '2013-10',
 '2013-10',
 '2013-10',
 '2013-10',
 '2013-10',
 '2013-10',
 '2013-10',
 '2013-10',
 '2013-10',
 '2013-10',
 '2013-10',
 '2013-10',
 '2013-10',
 '2013-10',
 '2013-10',
 '2013-10',
 '2013-10',
 '2013-10',
 '2013-10',
 '2013-10',
 '2013-10',
 '2013-10',
 '2013-11',
 '2013-11',
 '2013-11',
 '2013-11',
 '2013-11',
 '2013-11',
 '2013-11',
 '2013-11',
 '2013-11',
 '2013-11',
 '2013-11',
 '2013-11',
 '2013-11',
 '2013-11',
 '2013-11',
 '2013-11',
 '2013-11',
 '2013-11',
 '2013-11',
 '2013-11',
 '2013-12',
 '2013-12',
 '2013-12',
 '2013-12',
 '2013-12',
 '2013-12',
 '2013-12',
 '2013-12',
 '2013-12',
 '2013-12',
 '2013-12',
 '2013-12',
 '2013-12',
 '2013-12',
 '2013-12',
 '2013-12',
 '2013-12',
 '2013-12',
 '2013-12',
 '2013-12',
 '2013-12',
 '2014-01',
 '2014-01',
 '2014-01',
 '2014-01',
 '2014-01',
 '2014-01',
 '2014-01',
 '2014-01',
 '2014-01',
 '2014-01',
 '2014-01',
 '2014-01',
 '2014-01',
 '2014-01',
 '2014-01',
 '2014-01',
 '2014-01',
 '2014-01',
 '2014-01',
 '2014-01',
 '2014-01',
 '2014-02',
 '2014-02',
 '2014-02',
 '2014-02',
 '2014-02',
 '2014-02',
 '2014-02',
 '2014-02',
 '2014-02',
 '2014-02',
 '2014-02',
 '2014-02',
 '2014-02',
 '2014-02',
 '2014-02',
 '2014-02',
 '2014-02',
 '2014-02',
 '2014-02',
 '2014-03',
 '2014-03',
 '2014-03',
 '2014-03',
 '2014-03',
 '2014-03',
 '2014-03',
 '2014-03',
 '2014-03',
 '2014-03',
 '2014-03',
 '2014-03',
 '2014-03',
 '2014-03',
 '2014-03',
 '2014-03',
 '2014-03',
 '2014-03',
 '2014-03',
 '2014-03',
 '2014-03',
 '2014-04',
 '2014-04',
 '2014-04',
 '2014-04',
 '2014-04',
 '2014-04',
 '2014-04',
 '2014-04',
 '2014-04',
 '2014-04',
 '2014-04',
 '2014-04',
 '2014-04',
 '2014-04',
 '2014-04',
 '2014-04',
 '2014-04',
 '2014-04',
 '2014-04',
 '2014-04',
 '2014-04',
 '2014-05',
 '2014-05',
 '2014-05',
 '2014-05',
 '2014-05',
 '2014-05',
 '2014-05',
 '2014-05',
 '2014-05',
 '2014-05',
 '2014-05',
 '2014-05',
 '2014-05',
 '2014-05',
 '2014-05',
 '2014-05',
 '2014-05',
 '2014-05',
 '2014-05',
 '2014-05',
 '2014-05',
 '2014-06',
 '2014-06',
 '2014-06',
 '2014-06',
 '2014-06',
 '2014-06',
 '2014-06',
 '2014-06',
 '2014-06',
 '2014-06',
 '2014-06',
 '2014-06',
 '2014-06',
 '2014-06',
 '2014-06',
 '2014-06',
 '2014-06',
 '2014-06',
 '2014-06',
 '2014-06',
 '2014-06',
 '2014-07',
 '2014-07',
 '2014-07',
 '2014-07',
 '2014-07',
 '2014-07',
 '2014-07',
 '2014-07',
 '2014-07',
 '2014-07',
 '2014-07',
 '2014-07',
 '2014-07',
 '2014-07',
 '2014-07',
 '2014-07',
 '2014-07',
 '2014-07',
 '2014-07',
 '2014-07',
 '2014-07',
 '2014-07',
 '2014-08',
 '2014-08',
 '2014-08',
 '2014-08',
 '2014-08',
 '2014-08',
 '2014-08',
 '2014-08',
 '2014-08',
 '2014-08',
 '2014-08',
 '2014-08',
 '2014-08',
 '2014-08',
 '2014-08',
 '2014-08',
 '2014-08',
 '2014-08',
 '2014-08',
 '2014-08',
 '2014-08',
 '2014-09',
 '2014-09',
 '2014-09',
 '2014-09',
 '2014-09',
 '2014-09',
 '2014-09',
 '2014-09',
 '2014-09',
 '2014-09',
 '2014-09',
 '2014-09',
 '2014-09',
 '2014-09',
 '2014-09',
 '2014-09',
 '2014-09',
 '2014-09',
 '2014-09',
 '2014-09',
 '2014-09',
 '2014-10',
 '2014-10',
 '2014-10',
 '2014-10',
 '2014-10',
 '2014-10',
 '2014-10',
 '2014-10',
 '2014-10',
 '2014-10',
 '2014-10',
 '2014-10',
 '2014-10',
 '2014-10',
 '2014-10',
 '2014-10',
 '2014-10',
 '2014-10',
 '2014-10',
 '2014-10',
 '2014-10',
 '2014-10',
 '2014-10',
 '2014-11',
 '2014-11',
 '2014-11',
 '2014-11',
 '2014-11',
 '2014-11',
 '2014-11',
 '2014-11',
 '2014-11',
 '2014-11',
 '2014-11',
 '2014-11',
 '2014-11',
 '2014-11',
 '2014-11',
 '2014-11',
 '2014-11',
 '2014-11',
 '2014-11',
 '2014-12',
 '2014-12',
 '2014-12',
 '2014-12',
 '2014-12',
 '2014-12',
 '2014-12',
 '2014-12',
 '2014-12',
 '2014-12',
 '2014-12',
 '2014-12',
 '2014-12',
 '2014-12',
 '2014-12',
 '2014-12',
 '2014-12',
 '2014-12',
 '2014-12',
 '2014-12',
 '2014-12',
 '2014-12',
 '2015-01',
 '2015-01',
 '2015-01',
 '2015-01',
 '2015-01',
 '2015-01',
 '2015-01',
 '2015-01',
 '2015-01',
 '2015-01',
 '2015-01',
 '2015-01',
 '2015-01',
 '2015-01',
 '2015-01',
 '2015-01',
 '2015-01',
 '2015-01',
 '2015-01',
 '2015-01',
 '2015-02',
 '2015-02',
 '2015-02',
 '2015-02',
 '2015-02',
 '2015-02',
 '2015-02',
 '2015-02',
 '2015-02',
 '2015-02',
 '2015-02',
 '2015-02',
 '2015-02',
 '2015-02',
 '2015-02',
 '2015-02',
 '2015-02',
 '2015-02',
 '2015-02',
 '2015-03',
 '2015-03',
 '2015-03',
 '2015-03',
 '2015-03',
 '2015-03',
 '2015-03',
 '2015-03',
 '2015-03',
 '2015-03',
 '2015-03',
 '2015-03',
 '2015-03',
 '2015-03',
 '2015-03',
 '2015-03',
 '2015-03',
 '2015-03',
 '2015-03',
 '2015-03',
 '2015-03',
 '2015-03',
 '2015-04',
 '2015-04',
 '2015-04',
 '2015-04',
 '2015-04',
 '2015-04',
 '2015-04',
 '2015-04',
 '2015-04',
 '2015-04',
 '2015-04',
 '2015-04',
 '2015-04',
 '2015-04',
 '2015-04',
 '2015-04',
 '2015-04',
 '2015-04',
 '2015-04',
 '2015-04',
 '2015-04',
 '2015-05',
 '2015-05',
 '2015-05',
 '2015-05',
 '2015-05',
 '2015-05',
 '2015-05',
 '2015-05',
 '2015-05',
 '2015-05',
 '2015-05',
 '2015-05',
 '2015-05',
 '2015-05',
 '2015-05',
 '2015-05',
 '2015-05',
 '2015-05',
 '2015-05',
 '2015-05',
 '2015-06',
 '2015-06',
 '2015-06',
 '2015-06',
 '2015-06',
 '2015-06',
 '2015-06',
 '2015-06',
 '2015-06',
 '2015-06',
 '2015-06',
 '2015-06',
 '2015-06',
 '2015-06',
 '2015-06',
 '2015-06',
 '2015-06',
 '2015-06',
 '2015-06',
 '2015-06',
 '2015-06',
 '2015-06',
 '2015-07',
 '2015-07',
 '2015-07',
 '2015-07',
 '2015-07',
 '2015-07',
 '2015-07',
 '2015-07',
 '2015-07',
 '2015-07',
 '2015-07',
 '2015-07',
 '2015-07',
 '2015-07',
 '2015-07',
 '2015-07',
 '2015-07',
 '2015-07',
 '2015-07',
 '2015-07',
 '2015-07',
 '2015-07',
 '2015-08',
 '2015-08',
 '2015-08',
 '2015-08',
 '2015-08',
 '2015-08',
 '2015-08',
 '2015-08',
 '2015-08',
 '2015-08',
 '2015-08',
 '2015-08',
 '2015-08',
 '2015-08',
 '2015-08',
 '2015-08',
 '2015-08',
 '2015-08',
 '2015-08',
 '2015-08',
 '2015-08',
 '2015-09',
 '2015-09',
 '2015-09',
 '2015-09',
 '2015-09',
 '2015-09',
 '2015-09',
 '2015-09',
 '2015-09',
 '2015-09',
 '2015-09',
 '2015-09',
 '2015-09',
 '2015-09',
 '2015-09',
 '2015-09',
 '2015-09',
 '2015-09',
 '2015-09',
 '2015-09',
 '2015-09',
 '2015-10',
 '2015-10',
 '2015-10',
 '2015-10',
 '2015-10',
 '2015-10',
 '2015-10',
 '2015-10',
 '2015-10',
 '2015-10',
 '2015-10',
 '2015-10',
 '2015-10',
 '2015-10',
 '2015-10',
 '2015-10',
 '2015-10',
 '2015-10',
 '2015-10',
 '2015-10',
 '2015-10',
 '2015-10',
 '2015-11',
 '2015-11',
 '2015-11',
 '2015-11',
 '2015-11',
 '2015-11',
 '2015-11',
 '2015-11',
 '2015-11',
 '2015-11',
 '2015-11',
 '2015-11',
 '2015-11',
 '2015-11',
 '2015-11',
 '2015-11',
 '2015-11',
 '2015-11',
 '2015-11',
 '2015-11',
 '2015-12',
 '2015-12',
 '2015-12',
 '2015-12',
 '2015-12',
 '2015-12',
 '2015-12',
 '2015-12',
 '2015-12',
 '2015-12',
 '2015-12',
 '2015-12',
 '2015-12',
 '2015-12',
 '2015-12',
 '2015-12',
 '2015-12',
 '2015-12',
 '2015-12',
 '2015-12',
 '2015-12',
 '2015-12',
 '2016-01',
 '2016-01',
 '2016-01',
 '2016-01',
 '2016-01',
 '2016-01',
 '2016-01',
 '2016-01',
 '2016-01',
 '2016-01',
 '2016-01',
 '2016-01',
 '2016-01',
 '2016-01',
 '2016-01',
 '2016-01',
 '2016-01',
 '2016-01',
 '2016-01',
 '2016-02',
 '2016-02',
 '2016-02',
 '2016-02',
 '2016-02',
 '2016-02',
 '2016-02',
 '2016-02',
 '2016-02',
 '2016-02',
 '2016-02',
 '2016-02',
 '2016-02',
 '2016-02',
 '2016-02',
 '2016-02',
 '2016-02',
 '2016-02',
 '2016-02',
 '2016-02',
 '2016-03',
 '2016-03',
 '2016-03',
 '2016-03',
 '2016-03',
 '2016-03',
 '2016-03',
 '2016-03',
 '2016-03',
 '2016-03',
 '2016-03',
 '2016-03',
 '2016-03',
 '2016-03',
 '2016-03',
 '2016-03',
 '2016-03',
 '2016-03',
 '2016-03',
 '2016-03',
 '2016-03',
 '2016-03',
 '2016-04',
 '2016-04',
 '2016-04',
 '2016-04',
 '2016-04',
 '2016-04',
 '2016-04',
 '2016-04',
 '2016-04',
 '2016-04',
 '2016-04',
 '2016-04',
 '2016-04',
 '2016-04',
 '2016-04',
 '2016-04',
 '2016-04',
 '2016-04',
 '2016-04',
 '2016-04',
 '2016-04',
 '2016-05',
 '2016-05',
 '2016-05',
 '2016-05',
 '2016-05',
 '2016-05',
 '2016-05',
 '2016-05',
 '2016-05',
 '2016-05',
 '2016-05',
 '2016-05',
 '2016-05',
 '2016-05',
 '2016-05',
 '2016-05',
 '2016-05',
 '2016-05',
 '2016-05',
 '2016-05',
 '2016-05',
 '2016-06',
 '2016-06',
 '2016-06',
 '2016-06',
 '2016-06',
 '2016-06',
 '2016-06',
 '2016-06',
 '2016-06',
 '2016-06',
 '2016-06',
 '2016-06',
 '2016-06',
 '2016-06',
 '2016-06',
 '2016-06',
 '2016-06',
 '2016-06',
 '2016-06',
 '2016-06',
 '2016-06',
 '2016-06',
 '2016-07',
 '2016-07',
 '2016-07',
 '2016-07',
 '2016-07',
 '2016-07',
 '2016-07',
 '2016-07',
 '2016-07',
 '2016-07',
 '2016-07',
 '2016-07',
 '2016-07',
 '2016-07',
 '2016-07',
 '2016-07',
 '2016-07',
 '2016-07',
 '2016-07',
 '2016-07',
 '2016-08',
 '2016-08',
 '2016-08',
 '2016-08',
 '2016-08',
 '2016-08',
 '2016-08',
 '2016-08',
 '2016-08',
 '2016-08',
 '2016-08',
 '2016-08',
 '2016-08',
 '2016-08',
 '2016-08',
 '2016-08',
 '2016-08',
 '2016-08',
 '2016-08',
 '2016-08',
 '2016-08',
 '2016-08',
 '2016-08',
 '2016-09',
 '2016-09',
 '2016-09',
 '2016-09',
 '2016-09',
 '2016-09',
 '2016-09',
 '2016-09',
 '2016-09',
 '2016-09',
 '2016-09',
 '2016-09',
 '2016-09',
 '2016-09',
 '2016-09',
 '2016-09',
 '2016-09',
 '2016-09',
 '2016-09',
 '2016-09',
 '2016-09',
 '2016-10',
 '2016-10',
 '2016-10',
 '2016-10',
 '2016-10',
 '2016-10',
 '2016-10',
 '2016-10',
 '2016-10',
 '2016-10',
 '2016-10',
 '2016-10',
 '2016-10',
 '2016-10',
 '2016-10',
 '2016-10',
 '2016-10',
 '2016-10',
 '2016-10',
 '2016-10',
 '2016-10',
 '2016-11',
 '2016-11',
 '2016-11',
 '2016-11',
 '2016-11',
 '2016-11',
 '2016-11',
 '2016-11',
 '2016-11',
 '2016-11',
 '2016-11',
 '2016-11',
 '2016-11',
 '2016-11',
 '2016-11',
 '2016-11',
 '2016-11',
 '2016-11',
 '2016-11',
 '2016-11',
 '2016-11',
 '2016-12',
 '2016-12',
 '2016-12',
 '2016-12',
 '2016-12',
 '2016-12',
 '2016-12',
 '2016-12',
 '2016-12',
 '2016-12',
 '2016-12',
 '2016-12',
 '2016-12',
 '2016-12',
 '2016-12',
 '2016-12',
 '2016-12',
 '2016-12',
 '2016-12',
 '2016-12',
 '2016-12',
 '2017-01',
 '2017-01',
 '2017-01',
 '2017-01',
 '2017-01',
 '2017-01',
 '2017-01',
 '2017-01',
 '2017-01',
 '2017-01',
 '2017-01',
 '2017-01',
 '2017-01',
 '2017-01',
 '2017-01',
 '2017-01',
 '2017-01',
 '2017-01',
 ...]

In [8]:
allstocks5yr.groupby(yearMonth).nth(0) #group by the data by month

               date   open     high      low  close    volume Name
2013-02  2013-02-08  15.07  15.1200  14.6300  14.75   8407500  AAL
2013-03  2013-03-01  13.37  13.9500  13.3200  13.61   7376800  AAL
2013-04  2013-04-01  17.02  17.1300  16.5400  16.67   5222300  AAL
2013-05  2013-05-01  16.91  17.1700  16.6000  16.60   4943600  AAL
2013-06  2013-06-03  17.54  17.9000  17.4000  17.73   5776800  AAL
2013-07  2013-07-01  16.50  17.0400  16.4800  16.80   4666900  AAL
2013-08  2013-08-01  19.44  19.5900  19.2400  19.38   7989100  AAL
2013-09  2013-09-03  16.38  16.6400  16.1100  16.39   4178200  AAL
2013-10  2013-10-01  18.98  19.8500  18.9800  19.69   7630300  AAL
2013-11  2013-11-01  22.04  22.4700  21.6000  22.44   7190700  AAL
2013-12  2013-12-02  23.55  23.6200  23.0100  23.04   9149800  AAL
2014-01  2014-01-02  25.07  25.8200  25.0600  25.36   8998943  AAL
2014-02  2014-02-03  33.95  34.4800  33.0500  33.96  21743871  AAL
2014-03  2014-03-03  36.17  36.4000  35.3200  36.10   9495177  AAL
2014-04  2014-04-01  36.95  38.1900  36.8500  37.94  11065541  AAL
2014-05  2014-05-01  35.86  36.7000  35.4650  36.39  11502084  AAL
2014-06  2014-06-02  40.00  41.2500  40.0000  41.22   9906030  AAL
2014-07  2014-07-01  43.44  43.9000  43.0500  43.86   9165112  AAL
2014-08  2014-08-01  38.75  39.5300  38.4300  39.43   8978315  AAL
2014-09  2014-09-02  39.00  40.5400  38.8900  40.50  10934400  AAL
2014-10  2014-10-01  34.72  34.9400  33.8500  34.39  19453289  AAL
2014-11  2014-11-03  41.44  42.0958  41.4300  42.00   8446445  AAL
2014-12  2014-12-01  49.00  49.4700  47.3600  47.88  15151440  AAL
2015-01  2015-01-02  54.28  54.6000  53.0700  53.91  10756705  AAL
2015-02  2015-02-02  48.58  48.9300  46.2100  48.72  22413054  AAL
2015-03  2015-03-02  48.20  48.5700  47.8500  48.31  11482901  AAL
2015-04  2015-04-01  51.10  51.3800  50.1100  50.44  15191509  AAL
2015-05  2015-05-01  48.65  49.8300  48.5100  49.39   8084568  AAL
2015-06  2015-06-01  42.61  44.3800  42.0900  44.18  21917072  AAL
2015-07  2015-07-01  40.65  40.9000  37.8000  38.80  24907070  AAL
...             ...    ...      ...      ...    ...       ...  ...
2015-09  2015-09-01  38.63  39.8100  38.5000  39.20  16042613  AAL
2015-10  2015-10-01  38.50  39.2700  37.8400  39.20   9175087  AAL
2015-11  2015-11-02  46.20  46.8200  46.2000  46.47   6189311  AAL
2015-12  2015-12-01  41.47  43.3000  41.3000  43.26   8912859  AAL
2016-01  2016-01-04  41.29  41.3501  40.3000  40.91  12037151  AAL
2016-02  2016-02-01  39.00  39.9400  38.6300  39.38  12023520  AAL
2016-03  2016-03-01  41.44  42.0200  41.0600  41.83   7885768  AAL
2016-04  2016-04-01  40.13  40.1600  39.2700  39.52  11244108  AAL
2016-05  2016-05-02  34.99  35.1650  34.4000  34.43   8829819  AAL
2016-06  2016-06-01  31.94  32.2600  31.7300  31.95   6416243  AAL
2016-07  2016-07-01  28.26  29.5200  28.2000  29.33  13249962  AAL
2016-08  2016-08-01  35.54  35.7500  35.1000  35.60   7058968  AAL
2016-09  2016-09-01  36.53  36.7100  35.8800  36.24   6940639  AAL
2016-10  2016-10-03  36.46  37.7500  36.3300  37.70   8878923  AAL
2016-11  2016-11-01  40.51  40.8500  39.5650  39.80   9028663  AAL
2016-12  2016-12-01  46.20  47.0900  45.6600  45.75   7435186  AAL
2017-01  2017-01-03  47.28  47.3400  46.1350  46.30   6737752  AAL
2017-02  2017-02-01  44.75  45.0000  43.9100  44.05   7955513  AAL
2017-03  2017-03-01  46.79  48.1350  46.7000  47.09   8278935  AAL
2017-04  2017-04-03  42.33  42.5700  41.6250  42.45   5764716  AAL
2017-05  2017-05-01  42.76  42.9600  42.0100  42.08   8591384  AAL
2017-06  2017-06-01  48.50  49.3600  48.3000  49.05   4421404  AAL
2017-07  2017-07-03  50.78  51.2800  50.3700  50.39   2906524  AAL
2017-08  2017-08-01  51.13  52.0000  50.3236  51.06   5045298  AAL
2017-09  2017-09-01  44.85  45.4700  44.6500  45.31   4569439  AAL
2017-10  2017-10-02  47.52  47.9300  47.2200  47.73   4911650  AAL
2017-11  2017-11-01  48.00  48.2000  47.3700  47.84   4354521  AAL
2017-12  2017-12-01  49.67  50.3800  48.6900  49.00   6229631  AAL
2018-01  2018-01-02  52.33  53.1000  51.9000  52.99   4084712  AAL
2018-02  2018-02-01  54.00  54.6400  53.5900  53.88   3623078  AAL

[61 rows x 7 columns]

In [9]:
#To group by the data by company name AAL, extract the data for company AAL only 
#Use Boolean lIST
booleanList = allstocks5yr['Name'] =='AAL'
AAL = allstocks5yr[booleanList]

In [10]:
AAL

            date   open     high      low  close    volume Name
0     2013-02-08  15.07  15.1200  14.6300  14.75   8407500  AAL
1     2013-02-11  14.89  15.0100  14.2600  14.46   8882000  AAL
2     2013-02-12  14.45  14.5100  14.1000  14.27   8126000  AAL
3     2013-02-13  14.30  14.9400  14.2500  14.66  10259500  AAL
4     2013-02-14  14.94  14.9600  13.1600  13.99  31879900  AAL
5     2013-02-15  13.93  14.6100  13.9300  14.50  15628000  AAL
6     2013-02-19  14.33  14.5600  14.0800  14.26  11354400  AAL
7     2013-02-20  14.17  14.2600  13.1500  13.33  14725200  AAL
8     2013-02-21  13.62  13.9500  12.9000  13.37  11922100  AAL
9     2013-02-22  13.57  13.6000  13.2100  13.57   6071400  AAL
10    2013-02-25  13.60  13.7600  13.0000  13.02   7186400  AAL
11    2013-02-26  13.14  13.4200  12.7000  13.26   9419000  AAL
12    2013-02-27  13.28  13.6200  13.1800  13.41   7390500  AAL
13    2013-02-28  13.49  13.6300  13.3900  13.43   6143600  AAL
14    2013-03-01  13.37  13.9500  13.3200  13.61   7376800  AAL
15    2013-03-04  13.50  14.0700  13.4700  13.90   8174800  AAL
16    2013-03-05  14.01  14.0500  13.7100  14.05   7676100  AAL
17    2013-03-06  14.52  14.6800  14.2500  14.57  13243200  AAL
18    2013-03-07  14.70  14.9300  14.5000  14.82   9125300  AAL
19    2013-03-08  14.99  15.2000  14.8400  14.92  10593700  AAL
20    2013-03-11  14.85  15.1500  14.7100  15.13   6961800  AAL
21    2013-03-12  15.14  15.6000  14.9500  15.50   8999100  AAL
22    2013-03-13  15.54  16.2000  15.4800  15.91  11380000  AAL
23    2013-03-14  15.98  16.3600  15.9300  16.25   8383300  AAL
24    2013-03-15  16.45  16.5400  15.8800  15.98  17667700  AAL
25    2013-03-18  15.80  16.3300  15.7100  16.29   6514100  AAL
26    2013-03-19  16.48  16.8500  16.4100  16.78  11805300  AAL
27    2013-03-20  17.13  17.3300  16.8700  17.23  10819800  AAL
28    2013-03-21  17.21  17.4300  16.8700  17.00  10740800  AAL
29    2013-03-22  17.10  17.2900  16.7700  16.86   8545200  AAL
...          ...    ...      ...      ...    ...       ...  ...
1229  2017-12-26  52.35  53.2150  52.3300  52.85   2774316  AAL
1230  2017-12-27  52.80  52.8800  52.0600  52.40   2831434  AAL
1231  2017-12-28  52.45  52.6300  52.2200  52.46   1845331  AAL
1232  2017-12-29  52.42  52.8200  52.0100  52.03   2697096  AAL
1233  2018-01-02  52.33  53.1000  51.9000  52.99   4084712  AAL
1234  2018-01-03  52.86  52.8600  52.0550  52.34   5074850  AAL
1235  2018-01-04  52.48  54.4000  52.2650  52.67   3557059  AAL
1236  2018-01-05  52.78  52.8388  52.4300  52.65   2967756  AAL
1237  2018-01-08  52.60  52.6400  51.9300  52.13   3515785  AAL
1238  2018-01-09  52.97  53.3700  52.0050  52.08   3426021  AAL
1239  2018-01-10  53.23  54.0200  52.8800  53.78   7655771  AAL
1240  2018-01-11  54.49  57.0000  54.1800  56.42  11339858  AAL
1241  2018-01-12  56.56  58.7300  56.5600  58.47   7505761  AAL
1242  2018-01-16  58.79  59.0800  57.5300  57.98   5283872  AAL
1243  2018-01-17  58.31  58.5800  57.8000  58.16   3148934  AAL
1244  2018-01-18  58.00  58.7100  57.5600  58.34   3969309  AAL
1245  2018-01-19  58.59  58.5900  57.7600  58.06   3151201  AAL
1246  2018-01-22  57.99  58.3400  57.5305  58.10   3553916  AAL
1247  2018-01-23  57.74  58.4600  57.4000  58.29   3336991  AAL
1248  2018-01-24  54.35  55.4600  53.4500  54.79  16348479  AAL
1249  2018-01-25  54.00  54.5500  52.2100  53.05  10223096  AAL
1250  2018-01-26  53.65  53.9000  52.3400  53.07   7066094  AAL
1251  2018-01-29  52.79  53.1600  52.5850  52.68   5953675  AAL
1252  2018-01-30  52.45  53.0500  52.3600  52.59   4741808  AAL
1253  2018-01-31  53.08  54.7100  53.0000  54.32   5962937  AAL
1254  2018-02-01  54.00  54.6400  53.5900  53.88   3623078  AAL
1255  2018-02-02  53.49  53.9900  52.0300  52.10   5109361  AAL
1256  2018-02-05  51.99  52.3900  49.7500  49.76   6878284  AAL
1257  2018-02-06  49.32  51.5000  48.7900  51.18   6782480  AAL
1258  2018-02-07  50.91  51.9800  50.8900  51.40   4845831  AAL

[1259 rows x 7 columns]

In [12]:
# Groupby the AAL data by month
monthAAL = [ month[0:7] for month in AAL['date'] ]

In [14]:
AAL.groupby(monthAAL).nth(0)

               date   open     high      low  close    volume Name
2013-02  2013-02-08  15.07  15.1200  14.6300  14.75   8407500  AAL
2013-03  2013-03-01  13.37  13.9500  13.3200  13.61   7376800  AAL
2013-04  2013-04-01  17.02  17.1300  16.5400  16.67   5222300  AAL
2013-05  2013-05-01  16.91  17.1700  16.6000  16.60   4943600  AAL
2013-06  2013-06-03  17.54  17.9000  17.4000  17.73   5776800  AAL
2013-07  2013-07-01  16.50  17.0400  16.4800  16.80   4666900  AAL
2013-08  2013-08-01  19.44  19.5900  19.2400  19.38   7989100  AAL
2013-09  2013-09-03  16.38  16.6400  16.1100  16.39   4178200  AAL
2013-10  2013-10-01  18.98  19.8500  18.9800  19.69   7630300  AAL
2013-11  2013-11-01  22.04  22.4700  21.6000  22.44   7190700  AAL
2013-12  2013-12-02  23.55  23.6200  23.0100  23.04   9149800  AAL
2014-01  2014-01-02  25.07  25.8200  25.0600  25.36   8998943  AAL
2014-02  2014-02-03  33.95  34.4800  33.0500  33.96  21743871  AAL
2014-03  2014-03-03  36.17  36.4000  35.3200  36.10   9495177  AAL
2014-04  2014-04-01  36.95  38.1900  36.8500  37.94  11065541  AAL
2014-05  2014-05-01  35.86  36.7000  35.4650  36.39  11502084  AAL
2014-06  2014-06-02  40.00  41.2500  40.0000  41.22   9906030  AAL
2014-07  2014-07-01  43.44  43.9000  43.0500  43.86   9165112  AAL
2014-08  2014-08-01  38.75  39.5300  38.4300  39.43   8978315  AAL
2014-09  2014-09-02  39.00  40.5400  38.8900  40.50  10934400  AAL
2014-10  2014-10-01  34.72  34.9400  33.8500  34.39  19453289  AAL
2014-11  2014-11-03  41.44  42.0958  41.4300  42.00   8446445  AAL
2014-12  2014-12-01  49.00  49.4700  47.3600  47.88  15151440  AAL
2015-01  2015-01-02  54.28  54.6000  53.0700  53.91  10756705  AAL
2015-02  2015-02-02  48.58  48.9300  46.2100  48.72  22413054  AAL
2015-03  2015-03-02  48.20  48.5700  47.8500  48.31  11482901  AAL
2015-04  2015-04-01  51.10  51.3800  50.1100  50.44  15191509  AAL
2015-05  2015-05-01  48.65  49.8300  48.5100  49.39   8084568  AAL
2015-06  2015-06-01  42.61  44.3800  42.0900  44.18  21917072  AAL
2015-07  2015-07-01  40.65  40.9000  37.8000  38.80  24907070  AAL
...             ...    ...      ...      ...    ...       ...  ...
2015-09  2015-09-01  38.63  39.8100  38.5000  39.20  16042613  AAL
2015-10  2015-10-01  38.50  39.2700  37.8400  39.20   9175087  AAL
2015-11  2015-11-02  46.20  46.8200  46.2000  46.47   6189311  AAL
2015-12  2015-12-01  41.47  43.3000  41.3000  43.26   8912859  AAL
2016-01  2016-01-04  41.29  41.3501  40.3000  40.91  12037151  AAL
2016-02  2016-02-01  39.00  39.9400  38.6300  39.38  12023520  AAL
2016-03  2016-03-01  41.44  42.0200  41.0600  41.83   7885768  AAL
2016-04  2016-04-01  40.13  40.1600  39.2700  39.52  11244108  AAL
2016-05  2016-05-02  34.99  35.1650  34.4000  34.43   8829819  AAL
2016-06  2016-06-01  31.94  32.2600  31.7300  31.95   6416243  AAL
2016-07  2016-07-01  28.26  29.5200  28.2000  29.33  13249962  AAL
2016-08  2016-08-01  35.54  35.7500  35.1000  35.60   7058968  AAL
2016-09  2016-09-01  36.53  36.7100  35.8800  36.24   6940639  AAL
2016-10  2016-10-03  36.46  37.7500  36.3300  37.70   8878923  AAL
2016-11  2016-11-01  40.51  40.8500  39.5650  39.80   9028663  AAL
2016-12  2016-12-01  46.20  47.0900  45.6600  45.75   7435186  AAL
2017-01  2017-01-03  47.28  47.3400  46.1350  46.30   6737752  AAL
2017-02  2017-02-01  44.75  45.0000  43.9100  44.05   7955513  AAL
2017-03  2017-03-01  46.79  48.1350  46.7000  47.09   8278935  AAL
2017-04  2017-04-03  42.33  42.5700  41.6250  42.45   5764716  AAL
2017-05  2017-05-01  42.76  42.9600  42.0100  42.08   8591384  AAL
2017-06  2017-06-01  48.50  49.3600  48.3000  49.05   4421404  AAL
2017-07  2017-07-03  50.78  51.2800  50.3700  50.39   2906524  AAL
2017-08  2017-08-01  51.13  52.0000  50.3236  51.06   5045298  AAL
2017-09  2017-09-01  44.85  45.4700  44.6500  45.31   4569439  AAL
2017-10  2017-10-02  47.52  47.9300  47.2200  47.73   4911650  AAL
2017-11  2017-11-01  48.00  48.2000  47.3700  47.84   4354521  AAL
2017-12  2017-12-01  49.67  50.3800  48.6900  49.00   6229631  AAL
2018-01  2018-01-02  52.33  53.1000  51.9000  52.99   4084712  AAL
2018-02  2018-02-01  54.00  54.6400  53.5900  53.88   3623078  AAL

[61 rows x 7 columns]

In [15]:
# How to groupby both the company name and the monthly date in one function 
#Two ways to do this : one is to create a new column "Monthly", another is to make the monthly data as the list index
# first, we create a column in data frame allstocks5yr['monthly']
allstocks5yr["monthly"] = [x[0:7] for x in allstocks5yr['date']]

In [16]:
#check the df again to see the column 
allstocks5yr.head()

         date   open   high    low  close    volume Name  monthly
0  2013-02-08  15.07  15.12  14.63  14.75   8407500  AAL  2013-02
1  2013-02-11  14.89  15.01  14.26  14.46   8882000  AAL  2013-02
2  2013-02-12  14.45  14.51  14.10  14.27   8126000  AAL  2013-02
3  2013-02-13  14.30  14.94  14.25  14.66  10259500  AAL  2013-02
4  2013-02-14  14.94  14.96  13.16  13.99  31879900  AAL  2013-02

In [40]:
#Groupby the data by name first then apply the lambda function to the monthly data 
dfallstocks5yr = allstocks5yr.groupby(['Name','monthly']).nth(0)

In [44]:
dfallstocks5yr

              close        date     high      low   open   volume
Name monthly
A    2013-02  45.08  2013-02-08  45.3500  45.0000  45.07  1824755
     2013-03  41.93  2013-03-01  41.9800  40.7300  41.18  3089323
     2013-04  40.93  2013-04-01  41.9771  40.7900  41.83  2541331
     2013-05  41.31  2013-05-01  41.7400  41.2600  41.42  2726213
     2013-06  45.51  2013-06-03  45.8400  45.0400  45.65  3677473
     2013-07  43.59  2013-07-01  43.7700  42.9100  43.05  4283821
     2013-08  46.04  2013-08-01  46.2000  45.3200  45.51  2745041
     2013-09  46.93  2013-09-03  47.5100  46.6150  47.04  1565632
     2013-10  51.90  2013-10-01  52.0800  50.7000  50.70  2997047
     2013-11  51.10  2013-11-01  51.5800  50.8400  50.92  1931035
     2013-12  53.21  2013-12-02  53.6700  53.1100  53.47  1459197
     2014-01  56.21  2014-01-02  57.1000  56.1500  57.10  1916160
     2014-02  56.15  2014-02-03  58.4800  56.0750  58.15  2929252
     2014-03  56.71  2014-03-03  57.1200  55.7850  56.12  2488373
     2014-04  56.36  2014-04-01  56.6200  55.8350  56.20  2090720
     2014-05  54.47  2014-05-01  54.8700  53.6600  53.94  1472407
     2014-06  56.89  2014-06-02  56.9900  56.3000  56.96  1274846
     2014-07  58.25  2014-07-01  58.4400  57.3800  57.74  2010785
     2014-08  56.26  2014-08-01  56.4000  55.5900  56.19   957560
     2014-09  58.07  2014-09-02  58.1000  57.2300  57.23  2015566
     2014-10  56.20  2014-10-01  56.9300  56.1800  56.85  2481276
     2014-11  40.84  2014-11-03  41.2400  39.4900  39.90  4559916
     2014-12  41.59  2014-12-01  42.7300  41.5800  42.69  4411159
     2015-01  40.56  2015-01-02  41.3100  40.3700  41.18  1530798
     2015-02  38.69  2015-02-02  38.7600  37.7100  37.90  2508493
     2015-03  42.70  2015-03-02  42.7400  42.3400  42.34  1847082
     2015-04  41.39  2015-04-01  41.5200  40.7200  41.46  2170331
     2015-05  41.83  2015-05-01  41.9300  41.2400  41.41  1880177
     2015-06  40.92  2015-06-01  41.4300  40.8500  41.43  2440065
     2015-07  39.26  2015-07-01  39.2950  38.7500  38.89  4486572
...             ...         ...      ...      ...    ...      ...
ZTS  2015-09  43.98  2015-09-01  44.8900  43.7800  43.95  4346069
     2015-10  41.29  2015-10-01  41.3400  40.3700  41.07  4131846
     2015-11  44.24  2015-11-02  44.5200  43.1650  43.54  4298821
     2015-12  47.01  2015-12-01  47.1300  46.2100  46.81  2956927
     2016-01  47.27  2016-01-04  47.7200  46.7500  46.94  2871687
     2016-02  42.96  2016-02-01  43.3900  42.5100  43.00  4703045
     2016-03  42.10  2016-03-01  42.1400  40.8800  41.49  5280733
     2016-04  44.99  2016-04-01  45.0600  43.9711  44.02  4549824
     2016-05  48.03  2016-05-02  48.1000  46.8660  47.20  3705382
     2016-06  47.85  2016-06-01  48.0000  47.2300  47.49  2140723
     2016-07  47.45  2016-07-01  47.9800  47.3500  47.50  2008304
     2016-08  50.40  2016-08-01  50.7384  50.3700  50.47  3715417
     2016-09  51.11  2016-09-01  51.1500  50.6200  51.15  2695047
     2016-10  52.36  2016-10-03  52.4300  51.6250  51.76  2412695
     2016-11  47.25  2016-11-01  47.9000  46.8600  47.61  8722821
     2016-12  49.16  2016-12-01  50.5500  48.6200  50.41  4252362
     2017-01  53.59  2017-01-03  54.3800  53.3350  53.88  3580369
     2017-02  55.32  2017-02-01  55.3500  54.6200  54.93  2492158
     2017-03  53.89  2017-03-01  54.0800  53.5500  53.73  3581081
     2017-04  53.17  2017-04-03  53.4500  52.8200  53.35  2806458
     2017-05  56.28  2017-05-01  56.5600  56.0300  56.14  3607817
     2017-06  62.64  2017-06-01  62.6400  61.9900  62.45  3112530
     2017-07  62.67  2017-07-03  62.8400  62.2700  62.40   744262
     2017-08  62.12  2017-08-01  62.8500  61.8600  62.37  1277542
     2017-09  62.87  2017-09-01  62.9700  62.4300  62.75  1407533
     2017-10  63.75  2017-10-02  64.3900  63.6900  63.84  1838530
     2017-11  64.51  2017-11-01  65.0850  64.0200  64.20  3065957
     2017-12  72.30  2017-12-01  72.3500  71.2750  72.22  1932240
     2018-01  71.77  2018-01-02  72.5900  71.4650  72.54  2135564
     2018-02  77.82  2018-02-01  78.2700  76.6900  76.84  2982259

[30012 rows x 6 columns]

In [63]:
#To find the monthly return, use the close price and divide by the close prie of the month before minus 1 
dfallstocks5yr['return' ]= dfallstocks5yr['close'].shift(1)/dfallstocks5yr['close'] -1

In [48]:
# Volume Change
dfallstocks5yr['volume_Change'] = dfallstocks5yr['volume'].shift(1)/dfallstocks5yr['volume']-1

In [108]:
###
class pipeline:

    def process(self,df):
        df["monthly"] = [x[0:7] for x in df['date']]
        dfallstocks5yr = df.groupby(['Name','monthly']).nth(0)
        return dfallstocks5yr
    def add_feature(self,df):
        df['return' ]= df['close'].shift(1)/df['close'] -1
        df['volume_Change'] = df['volume'].shift(1)/df['volume']-1
        return df
    def __init__(self,df):
        df = self.process(df)
        df = self.add_feature(df)
        self.dfprocessed = df

In [109]:
pipelined = pipeline(allstocks5yr)

In [110]:
pipelined.dfprocessed

              close        date     high      low   open    return   volume  \
Name monthly
A    2013-02  45.08  2013-02-08  45.3500  45.0000  45.07       NaN  1824755
     2013-03  41.93  2013-03-01  41.9800  40.7300  41.18  0.075125  3089323
     2013-04  40.93  2013-04-01  41.9771  40.7900  41.83  0.024432  2541331
     2013-05  41.31  2013-05-01  41.7400  41.2600  41.42 -0.009199  2726213
     2013-06  45.51  2013-06-03  45.8400  45.0400  45.65 -0.092287  3677473
     2013-07  43.59  2013-07-01  43.7700  42.9100  43.05  0.044047  4283821
     2013-08  46.04  2013-08-01  46.2000  45.3200  45.51 -0.053215  2745041
     2013-09  46.93  2013-09-03  47.5100  46.6150  47.04 -0.018964  1565632
     2013-10  51.90  2013-10-01  52.0800  50.7000  50.70 -0.095761  2997047
     2013-11  51.10  2013-11-01  51.5800  50.8400  50.92  0.015656  1931035
     2013-12  53.21  2013-12-02  53.6700  53.1100  53.47 -0.039654  1459197
     2014-01  56.21  2014-01-02  57.1000  56.1500  57.10 -0.053371  1916160
     2014-02  56.15  2014-02-03  58.4800  56.0750  58.15  0.001069  2929252
     2014-03  56.71  2014-03-03  57.1200  55.7850  56.12 -0.009875  2488373
     2014-04  56.36  2014-04-01  56.6200  55.8350  56.20  0.006210  2090720
     2014-05  54.47  2014-05-01  54.8700  53.6600  53.94  0.034698  1472407
     2014-06  56.89  2014-06-02  56.9900  56.3000  56.96 -0.042538  1274846
     2014-07  58.25  2014-07-01  58.4400  57.3800  57.74 -0.023348  2010785
     2014-08  56.26  2014-08-01  56.4000  55.5900  56.19  0.035371   957560
     2014-09  58.07  2014-09-02  58.1000  57.2300  57.23 -0.031169  2015566
     2014-10  56.20  2014-10-01  56.9300  56.1800  56.85  0.033274  2481276
     2014-11  40.84  2014-11-03  41.2400  39.4900  39.90  0.376102  4559916
     2014-12  41.59  2014-12-01  42.7300  41.5800  42.69 -0.018033  4411159
     2015-01  40.56  2015-01-02  41.3100  40.3700  41.18  0.025394  1530798
     2015-02  38.69  2015-02-02  38.7600  37.7100  37.90  0.048333  2508493
     2015-03  42.70  2015-03-02  42.7400  42.3400  42.34 -0.093911  1847082
     2015-04  41.39  2015-04-01  41.5200  40.7200  41.46  0.031650  2170331
     2015-05  41.83  2015-05-01  41.9300  41.2400  41.41 -0.010519  1880177
     2015-06  40.92  2015-06-01  41.4300  40.8500  41.43  0.022239  2440065
     2015-07  39.26  2015-07-01  39.2950  38.7500  38.89  0.042282  4486572
...             ...         ...      ...      ...    ...       ...      ...
ZTS  2015-09  43.98  2015-09-01  44.8900  43.7800  43.95  0.102319  4346069
     2015-10  41.29  2015-10-01  41.3400  40.3700  41.07  0.065149  4131846
     2015-11  44.24  2015-11-02  44.5200  43.1650  43.54 -0.066682  4298821
     2015-12  47.01  2015-12-01  47.1300  46.2100  46.81 -0.058924  2956927
     2016-01  47.27  2016-01-04  47.7200  46.7500  46.94 -0.005500  2871687
     2016-02  42.96  2016-02-01  43.3900  42.5100  43.00  0.100326  4703045
     2016-03  42.10  2016-03-01  42.1400  40.8800  41.49  0.020428  5280733
     2016-04  44.99  2016-04-01  45.0600  43.9711  44.02 -0.064236  4549824
     2016-05  48.03  2016-05-02  48.1000  46.8660  47.20 -0.063294  3705382
     2016-06  47.85  2016-06-01  48.0000  47.2300  47.49  0.003762  2140723
     2016-07  47.45  2016-07-01  47.9800  47.3500  47.50  0.008430  2008304
     2016-08  50.40  2016-08-01  50.7384  50.3700  50.47 -0.058532  3715417
     2016-09  51.11  2016-09-01  51.1500  50.6200  51.15 -0.013892  2695047
     2016-10  52.36  2016-10-03  52.4300  51.6250  51.76 -0.023873  2412695
     2016-11  47.25  2016-11-01  47.9000  46.8600  47.61  0.108148  8722821
     2016-12  49.16  2016-12-01  50.5500  48.6200  50.41 -0.038853  4252362
     2017-01  53.59  2017-01-03  54.3800  53.3350  53.88 -0.082665  3580369
     2017-02  55.32  2017-02-01  55.3500  54.6200  54.93 -0.031273  2492158
     2017-03  53.89  2017-03-01  54.0800  53.5500  53.73  0.026536  3581081
     2017-04  53.17  2017-04-03  53.4500  52.8200  53.35  0.013541  2806458
     2017-05  56.28  2017-05-01  56.5600  56.0300  56.14 -0.055259  3607817
     2017-06  62.64  2017-06-01  62.6400  61.9900  62.45 -0.101533  3112530
     2017-07  62.67  2017-07-03  62.8400  62.2700  62.40 -0.000479   744262
     2017-08  62.12  2017-08-01  62.8500  61.8600  62.37  0.008854  1277542
     2017-09  62.87  2017-09-01  62.9700  62.4300  62.75 -0.011929  1407533
     2017-10  63.75  2017-10-02  64.3900  63.6900  63.84 -0.013804  1838530
     2017-11  64.51  2017-11-01  65.0850  64.0200  64.20 -0.011781  3065957
     2017-12  72.30  2017-12-01  72.3500  71.2750  72.22 -0.107746  1932240
     2018-01  71.77  2018-01-02  72.5900  71.4650  72.54  0.007385  2135564
     2018-02  77.82  2018-02-01  78.2700  76.6900  76.84 -0.077744  2982259

              volume_Change
Name monthly
A    2013-02            NaN
     2013-03      -0.409335
     2013-04       0.215632
     2013-05      -0.067816
     2013-06      -0.258672
     2013-07      -0.141544
     2013-08       0.560567
     2013-09       0.753312
     2013-10      -0.477608
     2013-11       0.552042
     2013-12       0.323355
     2014-01      -0.238479
     2014-02      -0.345853
     2014-03       0.177176
     2014-04       0.190199
     2014-05       0.419933
     2014-06       0.154969
     2014-07      -0.365996
     2014-08       1.099905
     2014-09      -0.524918
     2014-10      -0.187690
     2014-11      -0.455851
     2014-12       0.033723
     2015-01       1.881608
     2015-02      -0.389754
     2015-03       0.358084
     2015-04      -0.148940
     2015-05       0.154323
     2015-06      -0.229456
     2015-07      -0.456140
...                     ...
ZTS  2015-09      -0.180973
     2015-10       0.051847
     2015-11      -0.038842
     2015-12       0.453814
     2016-01       0.029683
     2016-02      -0.389398
     2016-03      -0.109395
     2016-04       0.160646
     2016-05       0.227896
     2016-06       0.730902
     2016-07       0.065936
     2016-08      -0.459467
     2016-09       0.378609
     2016-10       0.117028
     2016-11      -0.723404
     2016-12       1.051288
     2017-01       0.187688
     2017-02       0.436654
     2017-03      -0.304077
     2017-04       0.276014
     2017-05      -0.222117
     2017-06       0.159127
     2017-07       3.182035
     2017-08      -0.417427
     2017-09      -0.092354
     2017-10      -0.234425
     2017-11      -0.400341
     2017-12       0.586737
     2018-01      -0.095209
     2018-02      -0.283911

[30012 rows x 8 columns]